.table-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.search-field {
  width: 200px;
}

.table-responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-field button {
  margin-left: 10px;
}